/* @font-face {
  font-family: "Regular";
  src: url("https://fonts.googleapis.com/css?family=Open+Sans:300");
}

@font-face {
  font-family: "Strong";
  src: url("https://fonts.googleapis.com/css?family=Open+Sans:700");
} */

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  90% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes menuHeight {
  from {
    height: 0;
  }
  to {
    height: 700px;
  }
}

@keyframes menuHeightMobile {
  from {
    height: 0;
  }
  to {
    height: 450px;
  }
}

.bounce {
  animation: pulse 1.5s;
  animation-iteration-count: infinite;
}

.fadeIn {
  animation: fadeIn 1s;
}

.bounceOutRight {
  animation: bounceOutRight 1s;
}

.bounceInRight {
  animation: bounceInRight 1s;
}

h1,
h2,
p,
h3,
h5,
a {
  font-family: "Fjalla One", sans-serif;
  color: white;
  text-align: center;
  line-height: 1.2;
  text-decoration: none;
}

.App h1 {
  letter-spacing: 23px;
  width: 100%;
  color: white;
  margin: auto;
  font-weight: 700;
  font-style: italic;

  font-size: 86px;
  padding-top: 130px;
  text-shadow: 4px 4px 0px #23d5ab;
}

.App h2 {
  display: block;
  letter-spacing: 16px;
  width: 100%;
  font-style: italic;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 48px;
  color: #23d5ab;
  /* background-image: linear-gradient(
    90deg,
    transparent 20px,
    rgba(255, 255, 255, 1) 55%,
    rgba(255, 255, 255, 0.6825105042016807) 100%
  ); */
}

#mamVid {
  height: auto;
  width: 90%;
  border: 1px solid darkgray;
  animation: fadeIn 2s;
}
#top19 {
  height: auto;
  width: 90%;
  border: 1px solid darkgray;
}

/* FullMenu */

.menuDiv h3 {
  display: inline-block;
  font-size: 30px;
  margin-right: 50%;
  margin-top: 133px;
  letter-spacing: 12px;
}

span {
  /* background-image: linear-gradient(transparent 3vw, #f243b3 50%, #ffca47 100%); */
  /* background-image: linear-gradient(
    90deg,
    transparent 3vw,
    rgba(255, 255, 255, 1) 55%,
    rgba(255, 255, 255, 0.6825105042016807) 100%
  ); */
  line-height: 0.1em; /* Positive value. */
  vertical-align: 0.5em; /* Positive value. */
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5186449579831933) 34%,
    rgba(255, 255, 255, 0.5998774509803921) 39%,
    rgba(255, 255, 255, 0) 94%
  );
  border-image-slice: 1;
}
/* @keyframes borderHover {
  from {
    border-bottom: 2px solid transparent !important;
  }
  to {
    border-bottom: 2px solid white !important;
  }
} */
span:hover {
  font-style: italic;
  /* animation: borderHover 1s; */
  cursor: default;
}

#h32 {
  margin-right: 50%;
}

#triangle {
  height: 50px;
  width: 90%;
  margin-top: -2.5px;
  padding-bottom: 20px;
}
.menuDiv {
  border-radius: 3px;
  position: relative;
  text-align: right;

  height: 700px;
  margin: 0 auto;
  overflow: auto;
  min-width: 660px;
  width: 90%;
  border: 3px solid white;
  animation: menuHeight 1.5s;
  overflow: hidden;
}
.textContain {
  position: absolute;
  top: 4%;
  text-align: left;
  height: 88%;
  margin-top: 21px;
  overflow-y: scroll;
  max-width: 38%;
  left: 56%;
  padding-bottom: 20px;
}

.menuDiv p,
h5,
a {
  display: inherit;
  padding-bottom: 2px;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
}

.menuDiv h5 {
  font-size: 24px;
  padding-bottom: 5px;
  margin: 0;
}

#triangleDiv {
  text-align: center;
}

#menuP1 {
  margin-top: 33%;
}

#menuP3 {
  margin-top: 33%;
}

#mePic {
  position: absolute;
  right: 85px;
  top: 33%;
  height: auto;
  width: 230px;
}

#triangle:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s;
}

.fadeOut {
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#menuP4 {
  display: inherit;
}

#mePicMobile {
  visibility: hidden;
  height: 0;
  width: 0;
}

/* media queries */
/* phones */
@media only screen and (min-width: 320px) and (max-width: 740px) {
  .App h1 {
    font-weight: 700;
    font-size: 56px;
    padding-top: 10%;
    text-shadow: 3.3px 3.3px 0px #23d5ab;
  }

  .App {
    text-align: center;
  }

  #menuP3 {
    margin-top: 10px;
  }

  .textContain {
    position: relative;
    top: auto;
    height: auto;
    overflow-y: auto;
    max-width: 100%;
    left: auto;
    margin-top: -12px;
    animation: fadeIn 1s;
    margin-left: 15px !important;
  }

  #h32 {
    margin: auto !important;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
  }

  .bounce {
    animation: pulse 1s;
    animation-iteration-count: infinite;
  }

  #FullMenu {
    text-align: center;
  }

  .App h2 {
    font-size: 38px;
    letter-spacing: 6px;

    margin-bottom: 20px;
  }
  #triangle {
    height: 47px;
    margin-top: -2px;
  }

  .menuDiv {
    height: 450px;
    overflow-y: scroll;
    margin-top: 10px;
    min-width: auto;
    text-align: center !important;
    animation: menuHeightMobile 1.5s;
  }

  .menuDiv h3 {
    text-align: center !important;
    font-size: 20px;
    margin: auto !important;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
    margin-left: 10px;
    letter-spacing: 12px;
  }

  .menuDiv p,
  h5,
  a {
    margin-top: auto;
    text-align: left !important;
    display: block;
    position: relative;
    font-size: 16px;
    left: 0;

    max-width: 85%;
    top: 0;
  }

  .menuDiv h5 {
    font-size: 20px;
  }

  #menuP3 {
    padding-bottom: 7px !important;
    margin-bottom: 7px !important;
  }

  #menuP1 {
    margin-top: 10px;
    margin-left: 5px;
  }

  span:hover {
    font-size: 18px;
  }
  #mePic {
    visibility: hidden;
  }
  #mePicMobile {
    height: auto;
    width: 171px;
    visibility: visible;
    padding-bottom: 20px;
  }
  span {
    /* background-image: linear-gradient(
      transparent 3vw,
      #f243b3 50%,
      #ffca47 100%
    ); */
    /* background-image: linear-gradient(
      90deg,
      transparent 3vw,
      rgba(255, 255, 255, 1) 55%,
      rgba(255, 255, 255, 0.6825105042016807) 100%
    ); */

    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    /* vertical-align: 2em;
    border-bottom: 0.3em solid transparent;
    border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.9780287114845938) 15%,
      rgba(255, 255, 255, 0.9472163865546218) 56%,
      rgba(255, 255, 255, 0) 100%
    );
    border-image-slice: 1; */
  }
}

/* tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .App h2 {
    width: 60%;
    letter-spacing: 20px;
  }

  .textContain {
    position: absolute;
    top: 4%;
    height: 88%;
    overflow-y: scroll;
    max-width: 40%;
    left: 52%;
    padding-bottom: 20px;
    animation: fadeIn 1s;
  }

  .menuDiv {
    min-width: auto;
    overflow-y: scroll;
  }

  .menuDiv h3 {
    margin-right: 55%;
  }

  #h32 {
    margin-right: 55% !important;
  }

  #mePic {
    position: absolute;
    right: 35px;
    top: 33%;
    height: auto;
    width: 210px;
  }

  .App h1 {
    font-size: 92px;
    letter-spacing: 20px;
  }
}

.App {
  max-width: 1180px;
  margin: auto;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;

  box-sizing: border-box;

  -webkit-background-clip: padding;

  -moz-background-clip: padding;

  -webkit-border-radius: 0;

  -moz-border-radius: 0;

  -ms-border-radius: 0;

  -o-border-radius: 0;

  -webkit-appearance: none;

  outline: 0;

  margin: 0;

  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #ffff47; /* WebKit/Blink Browsers */
}
